<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="FlaskRadioFM" content="Simple Radio Player Online"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" >
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet"  media="all" href="{{url_for('static', filename='css/style.css')}}">
{% block css %}{% endblock css %}   
<title>FlaskRadioFM </title>
</head>
<body style="background-color: black;">
{% block nav %}{% include 'nav.html' %}{% endblock nav %}  
<div class="container-fluid">{% block main %}{% endblock main %}</div>
{% block js %}{% endblock js %}
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>