<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FlaskRadio</title>
        <meta name="description" content="Music, Radio, Bootstrap">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
        <link rel="apple-touch-icon" href="images/logo.png">
        <meta name="apple-mobile-web-app-title" content="Flatkit">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" sizes="196x196" href="images/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" >
    </head>
    <body style="background-color: #13192c;">
        <div class="container-fluid" id="app">
            <div id="content" class="row" role="main">  
                <div class="app-body" id="view">
                    <div class="page-content">
                        <div class="row mb-5">
                            <div class="col-lg-12">
                                <div class="padding">
                                    <!-- HEADER -->
                                    <div class="page-title m-b">
                                        <h1 class="inline m-5"> <span class="text-danger">Flask</span> Radio <span class="bi bi-music-player mx-2" style=""></span></h1>
                                        <div class="search_radio my-3">
                                            <span class="fa fa-search" @click="getRadios()"></span>
                                            <input type="text" class="search-input" v-model="search" @keyup.enter="getRadios()">
                                        </div> 
                                    </div>
                                    <!-- END HEADER -->
                                        <div class="row">
                                            <!-- RADIO LIST -->
                                            <div class="col-xs-4 col-sm-4 col-md-3 my-3" :class="`${playingIndex == index? 'shadow p-3':''}`" v-for="(radio, index) in radios" v-if="radios" :style="`${playingIndex == index? 'border:5px solid white; border-radius: 10px; transition: 1s ease all' : 'border:none; transition: 1s ease all'}`">
                                                <div class="card bg-transparent" :style="{ 'background-image': 'url(' + radio.favicon + ')' }" style="background-size: cover; height: 20em;">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-center align-items-center h-100">
                                                            <button class=" btn-playpause btn-main text-center shadow-none " @click="playRadio(index, radio,$event)" v-if="playingIndex != index" >
                                                                <i class="bi bi-play fs-3 text-center"></i>
                                                            </button>
                                                            <!-- <a class="btn-playpause text-primary" @click="playRadio(index, radio,$event)" v-if="playingIndex != index">
                                                                <i class="bi bi-play-circle text-primary"></i>
                                                            </a> -->
                                                            <p class="bg-dark rounded-pill text-white w-100 text-center p-3" v-if="playingIndex == index">Now Playing</p> 
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="card-footer text-center" style="background-color:  #343a4083 ;">
                                                        <div class="text-white">
                                                            <a :href="radio.homepage" v-text="radio.name" class="text-white text-decoration-none fs-5"></a>
                                                        </div>
                                                        <div class="">
                                                            <!-- <p href="" v-text="`${radio.tags}`" class="text-muted"></p> -->
                                                        </div>
                                                    </div>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <!-- <a href="" class="btn btn-sm rounded bg-light" @click.prevent="getRadios()">Show More</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- FOOTER -->
                <div class="footer fixed-bottom d-flex align-items-center justify-content-between bg-dark" v-if="radios.length > 0" style="min-height:3em" >
                    <div class="d-flex justify-content-center align-items-center ">
                        <img :src="currentRadioImage" v-if="currentRadioImage" alt="" style="width: 3em;height: 3em; margin: 0px; padding: 0px;filter: blur(1px) grayscale(0.5);" >
                        <a href="" @click.prevent="pauseRadio" class="position-absolute ">
                            <i class="bi bi-play-circle fs-4 rounded-circle text-white" v-if="!playing"></i>
                            <i class="bi bi-pause-circle fs-4 rounded-circle text-white " v-else></i>  
                        </a>
                    </div>
                    <div class="playlist " style="padding: 0;">
                        <div class="radio-footer-details ">
                            <span class="title fs-6"  v-text="currentRadioName" v-if="currentRadioName"></span>
                            <div id="bars" class="bars text-center mb-2" v-if="playing">
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                            </div>
                            <!-- <span class="subtitle">subtitle</span> -->
                        </div>
                    </div>
                    <div class="volume-range float-end">
                        <span class="text-white" :class="`${volume < 1 ? 'fa fa-volume-mute':'fa fa-volume-up'}`"></span>
                        <input type="range" min="0" max="100"  class="" id="formControlRange" v-model="volume">
                    </div>
                </div>
                <!-- END FOOTER -->
                    <audio src="" hidden id="player" controls></audio>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js" integrity="sha512-m2ssMAtdCEYGWXQ8hXVG4Q39uKYtbfaJL5QMTbhl2kc6vYyubrKHhr6aLLXW4ITeXSywQLn1AhsAaqrJl8Acfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>  
    </body>
