{% extends 'base.html' %}
{% block main %}
    <div class="col-sm mt-5 mb-5">
        <div class="row ">
            {% if res %}
            {%for obj in res%}
            <div class="card bg-dark border-bottom-info shadow  py-2 mr-3 mb-3" style="width: 18rem;">
                <img src="{{obj.favicon}}" style="height:10em" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-light">{{obj.name}}</h5>
                  <p class="card-text"></p>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <a class="radio_class text-decoration-none  "  id="radio_url{{loop.index}}" onclick=radio(this.id) data-value = "{{obj.url_resolved}}">
                        <!-- <i style="font-size: 2em; position: absolute;z-index: 2;" class="material-icons radio-url-icon text-success ">play_circle_filled</i>   --><span class="bg-success text-dark radio-span"> Play</span>
                    </a>
                </div>
              </div> 
            {%endfor%}
            {% endif %}
        </div>
    </div>
    <div class="footer col-xl text-center">
        <audio id="radio" style="width: 100%;"  controls >
            <source id="audio-source"
               type="audio/mpeg">
        </audio>
    </div>
{% endblock main %}
    
    